.counter {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
  }
  

  
 .counter button {
    /* width: 400px;
    height: 400px; */
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
  }